/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 10, 2014, 9:25:13 PM
    Author     : KartikKini
*/
.root {
    -fx-background-color: black;
}


.loadlist .virtual-flow .clipped-container .sheet .list-cell:filled:even {
    -fx-padding: 0.0em 0.0em 2.0em 0.0em;
}

.loadlist .virtual-flow .clipped-container .sheet .list-cell:filled:odd {
    -fx-padding: 0.0em 0.0em 2.0em 0.0em;
}

.loadlist .virtual-flow .clipped-container .sheet .list-cell:filled .text {
    -fx-font-size: 25px;
}

.textfield {
    -fx-font-family: "LVDC Common2";
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-highlight-text-fill: black;
    -fx-background-color: linear-gradient(to bottom, rgba(30,150,206,0.9) 0%,rgba(24,106,168,0.9) 50%,rgba(29,152,205,0.9) 100%);
    -fx-effect: innershadow(three-pass-box , rgba(0,0,0,0.7), 5, 0.0 , 0 , 0);
}

.list-view {
    -fx-font-family: "LVDC Common2";
    -fx-font-size: 20px;
}

.progressbar .bar {
    -fx-background-color: #0099cc;
}

.slider .thumb {
    -fx-background-image: url('../../visuals/Slider_Thumb.png');
    -fx-background-size: stretch;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-border-radius: 0;
    -fx-border-width: 2;
    -fx-border-insets: -10.0em -1.0em 0.0em -1em;
    -fx-padding: 0.6em 0.2em 0.2em 0.655em;
}

.list-view {
    -fx-background-image: url('../../visuals/GridLayoutBG.png');
    -fx-background-size: stretch;
    -fx-padding: 0.35em 0.388em 0.35em 0.35em;
}

.list-view .virtual-flow .scroll-bar:vertical .track-background {
    -fx-background-color: transparent;
}

.list-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-scale-y: 1.0;
    -fx-scale-x: 0.5;
}

.list-view .virtual-flow .scroll-bar:vertical .track{
    -fx-scale-x: 0.5;
}

.list-view .virtual-flow .scroll-bar:vertical .increment-button {
    -fx-scale-y: 0;
}

.list-view .virtual-flow .scroll-bar:vertical .decrement-button {
    -fx-scale-y: 0;
}

.list-view .virtual-flow .scroll-bar:vertical .increment-button .increment-arrow {
    -fx-background-color: transparent;
}

.list-view .virtual-flow .scroll-bar:vertical .decrement-button .decrement-arrow {
    -fx-background-color: transparent;
}

.list-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 2, 0, 0;
}

.list-view .virtual-flow .scroll-bar:vertical .track {
    -fx-padding: -1.0em 0.0em 0.0em 0.0em; 
    -fx-background-color: background;
}

.list-view .virtual-flow .scroll-bar:vertical {
    -fx-background-color: rgba(52, 106, 181, 0.7);
}

.list-view .virtual-flow .scroll-bar:horizontal {
    -fx-scale-y: 1;
}

.list-view .virtual-flow .clipped-container .sheet .list-cell:filled .text {
    -fx-text-origin: top;
}

.list-view .virtual-flow .clipped-container .sheet .list-cell:filled {
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.list-cell {
    -fx-background-insets: 0.0em 0.0em 0.0em 0.0em;
}

.list-cell:odd {
    -fx-background-color: rgba(52, 106, 181, 0.5);
}

.list-cell:even {
    -fx-background-color: rgba(52, 106, 181, 0.7);
}

.list-cell:selected {
    -fx-background-color: rgba(52, 106, 181, 1);
}

.tab-pane {
    -fx-background-image: url('../../visuals/GridLayoutBG.png');
    -fx-background-size: stretch;
}

.tab-pane .tab-header-area .headers-region {
    -fx-translate-x: 15;
    -fx-translate-y: 1.7;
    -fx-scale-x: 1.032;
    -fx-scale-y: 1.08;
}

.tab-pane .tab-header-area .headers-region .tab:selected:top {
    -fx-background-color: #005d7f;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab-pane .tab-header-area .headers-region .tab:selected:top .tab-container .tab-label .text {
    -fx-font-family: "LVDC Common2";
    -fx-fill: white;
    -fx-font-size: 30px;
}

.tab-pane .tab-header-area .headers-region .tab:top .tab-container .tab-label .text {
    -fx-font-family: "LVDC Common2";
    -fx-text-fill: gray;
    -fx-font-size: 20px;
}

.tab-pane .tab-header-area .headers-region .tab:top {
    -fx-background-color: #678a96;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: background;
}

.control-buttons-tab {
    -fx-background-color: -fx-tab-border-color, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0.0em 0.0em 0.0em 0.0em;
    -fx-background-radius: 0.0em 0.0em 0.0em 0.0em;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab-down-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab-down-button:hover {
    -fx-background-color: transparent;
    -fx-color: -fx-hover-base;
}

.tab-down-button .arrow {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0, 0;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.slider .track {
    -fx-background-color: white;
}

.label {
    -fx-font-family: "LVDC Common2";
    -fx-font-size: 30px;
    -fx-text-fill: white;
}

.gridpane {
    -fx-background-image: url('../../visuals/GridLayoutBG.png');
    -fx-background-size: stretch;
}

#CharConfig {
    -fx-background-image: url('../../visuals/CharacterSelectionBG.png');
}

#WelcomeScreenBG{
    -fx-background-color: transparent;
    -fx-background-image: url('../../visuals/WelcomeScreenBackground.png');
}

#StarBackdrop {
    -fx-background-image: url('../../visuals/StarBackdrop.png');
}

.starbackdrop {
    -fx-background-image: url('../../visuals/StarBackdrop.png');
}

.split-pane:horizontal .split-pane-divider {
    -fx-opacity: 0;
}

.button {
    -fx-font-family: "LVDC Common2";
    -fx-background-image: url('../../visuals/Button.png');
    -fx-background-size: stretch;
    -fx-background-color: transparent;
    -fx-font-size: 30px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.7), 10, 0.0 , 0 , 0);
}

#GameBackground {
    -fx-background-image: url('../../visuals/MainScreen.png');
}

.button:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.7) , 20, 0.0 , 0 , 0);
}