/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 10, 2014, 9:25:13 PM
    Author     : KartikKini
*/
.root {
    -fx-background-color: black;
}

.textfield {
    -fx-font-family: "LVDC Common2";
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-highlight-text-fill: black;
    -fx-background-color: linear-gradient(to bottom, rgba(30,150,206,0.9) 0%,rgba(24,106,168,0.9) 50%,rgba(29,152,205,0.9) 100%);
    -fx-effect: innershadow(three-pass-box , rgba(0,0,0,0.7), 5, 0.0 , 0 , 0);
}

.progressbar .bar {
    -fx-background-color: #0099cc;
}

.slider .thumb {
    -fx-background-image: url('../../visuals/Slider_Thumb.png');
    -fx-background-size: stretch;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-background-color: background;
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-border-width: 5;
    -fx-border-insets: 0.0em 0.0em 0.0em 0em;
    -fx-padding: 0.5em 0.2em 0.2em 1em;
}


.tab-pane .tab {
    -fx-background-color: #678a96;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab-pane .tab:selected {
    -fx-background-color: #005d7f;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
    -fx-background-insets: 0 0 0 0,0,0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: background;
}

/*.control-buttons-tab {
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;  1 3 1 3 
}*/

.tab-down-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 5 0 5 */
}

.tab-down-button:hover {
    -fx-background-color: transparent;
    -fx-color: -fx-hover-base;
}

.tab-down-button .arrow {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0, 0;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 2.857 5 2.857 5 */
    -fx-shape: "M 0 0 H 7 L 3.5 4 z";
}

.slider .track {
    -fx-background-color: white;
}

.label {
    -fx-font-family: "LVDC Common2";
    -fx-font-size: 30px;
    -fx-text-fill: white;
}

.gridpane {
    -fx-background-image: url('../../visuals/GridLayoutBG.png');
    -fx-background-size: stretch;
}

#CharConfig {
    -fx-background-image: url('../../visuals/CharacterSelectionBG.png');
}

#WelcomeScreenBG{
    -fx-background-color: transparent;
    -fx-background-image: url('../../visuals/WelcomeScreenBackground.png');
}

#StarBackdrop {
    -fx-background-image: url('../../visuals/StarBackdrop.png');
}

.starbackdrop {
    -fx-background-image: url('../../visuals/StarBackdrop.png');
}

.button {
    -fx-font-family: "LVDC Common2";
    -fx-background-image: url('../../visuals/Button.png');
    -fx-background-size: stretch;
    -fx-background-color: transparent;
    -fx-font-size: 30px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.7), 10, 0.0 , 0 , 0);
}

#GameBackground {
    -fx-background-image: url('../../visuals/MainScreen.png');
}

.button:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.7) , 20, 0.0 , 0 , 0);
}